*.pyc
venv/*
.idea/*
*.spec
django_resume/resume/migrations/*
resumes/migrations/*
proj_django_resume/img/*.jpg
*.sqlite3
img/*.jpg
resumes/migrations/0001_initial.py
/assets/*
/static/*
/media/*
src/django_resume.egg-info/*
.pdm-python
